@model CarPartsShop.Application.ViewModels.Accounts.ChangePasswordInAdminViewModel
<form id="ChangeUserPassword-form" asp-area="Admin" asp-action="SubmitChangeUserPasswordModal" asp-controller="Users"
      data-ajax="true" data-ajax-begin="startWaiting()" data-ajax-success="submitChangeUserPasswordModal">
    <input type="hidden" asp-for="Email" />
    <div class="modal-header">

            <h5 class="modal-title" id="exampleModalLabel1">ویرایش کلمه عبور @Model.Email</h5>

        


        <button type="button" class="btn-close new-style10" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col mb-3">
                <label for="nameBasic" class="form-label">کلمه عبور</label>
                <input type="text" asp-for="Password" class="form-control">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="nameBasic" class="form-label">تکرار کلمه عبور</label>
                <input type="text" asp-for="ConfirmPassword" class="form-control">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </div>
</form>

