@model CarPartsShop.Application.ViewModels.CarBrands.CreateCarBrandViewModel
<form id="create-brand-form" asp-area="Admin" asp-action="SubmitCreateBrandModal" asp-controller="CarBrands"
      data-ajax="true" data-ajax-begin="startWaiting()" data-ajax-success="submitCreateBrandModal">

    <div class="modal-header">
        <input type="hidden" asp-for="ParentId" />
        @if (Model.ParentName != null)
        {
            <h5 class="modal-title" id="exampleModalLabel1">افزودن زیر برند به @Model.ParentName</h5>

        }
        else
        {
            <h5 class="modal-title" id="exampleModalLabel1">افزودن برند جدید</h5>

        }
     

        <button type="button" class="btn-close new-style10" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col mb-3">
                <label for="nameBasic" class="form-label">عنوان</label>
                <input type="text" asp-for="Title" class="form-control">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="nameBasic" class="form-label">اسلاگ</label>
                <input type="text" asp-for="Slug" class="form-control">
                <span class="text-danger" asp-validation-for="Slug"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </div>
</form>

