@model CarPartsShop.Application.ViewModels.Common.PagingViewModel

<nav aria-label="Page navigation" class="m-2">
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage>1)
        {
            
            <li class="page-item prev">
                <a class="page-link" onclick="submitPagingForm('@(Model.CurrentPage-1)')" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
            </li>
        }
        
        @for (var i = Model.StartPage; i <= Model.EndPage; i++)
        {
            <li class="page-item @(i==Model.CurrentPage ? "active" : "")">
                <a class="page-link" onclick="submitPagingForm('@i')" href="javascript:void(0);">@i</a>
            </li>
        }
        
        @if (Model.CurrentPage < Model.EndPage)
        {
            <li class="page-item next">
                <a class="page-link" onclick="submitPagingForm('@(Model.CurrentPage+1)')" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
            </li> 
        }
        
]        
    </ul>
</nav>