@using CarPartsShop.Application.ViewModels.Categories
@model EditCategoryViewModel
<form id="edit-category-form" asp-area="Admin" asp-action="SubmitEditCategoryModal" asp-controller="Categories"
      data-ajax="true" data-ajax-begin="startWaiting()" data-ajax-success="submitEditCategoryModal">
    <input type="hidden" asp-for="Id" />
    <div class="modal-header">
        
            <h5 class="modal-title" id="exampleModalLabel1">ویرایش @Model.Title</h5>

     
   

        <button type="button" class="btn-close new-style10" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col mb-3">
                <label for="nameBasic" class="form-label">عنوان</label>
                <input type="text" asp-for="Title" class="form-control">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="nameBasic" class="form-label">اسلاگ</label>
                <input type="text" asp-for="Slug" class="form-control">
                <span class="text-danger" asp-validation-for="Slug"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary">ویرایش</button>
    </div>
</form>

