@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- =======================
		Main hero START -->
@await Component.InvokeAsync("Slider")
<!-- =======================
Main hero END -->
<!-- =======================
Features END -->
<section>
	<div class="container">
		<div class="row g-4 g-xl-5">
			<!-- Title -->
			<div class="col-sm-6 col-lg-3">
				<div class="d-flex align-items-center">
					<div class="icon-lg fs-4 text-success bg-success bg-opacity-10 rounded flex-shrink-0"> <i class="bi bi-piggy-bank"></i> </div>
					<h6 class="mb-0 ms-3">مقرون به صرفه</h6>
				</div>
			</div>

			<!-- Title -->
			<div class="col-sm-6 col-lg-3">
				<div class="d-flex align-items-center">
					<div class="icon-lg fs-4 text-warning bg-warning bg-opacity-15 rounded flex-shrink-0"> <i class="bi bi-truck"></i> </div>
					<h6 class="mb-0 ms-3">امکان تحویل اکسپرس</h6>
				</div>
			</div>

			<!-- Title -->
			<div class="col-sm-6 col-lg-3">
				<div class="d-flex align-items-center">
					<div class="icon-lg fs-4 text-danger bg-danger bg-opacity-10 rounded flex-shrink-0"> <i class="bi bi-lightning-charge"></i> </div>
					<h6 class="mb-0 ms-3">7 روز ضمانت بازگشت کالا</h6>
				</div>
			</div>

			<!-- Title -->
			<div class="col-sm-6 col-lg-3">
				<div class="d-flex align-items-center">
					<div class="icon-lg fs-4 text-info bg-info bg-opacity-10 rounded flex-shrink-0"> <i class="bi bi-emoji-smile"></i> </div>
					<h6 class="mb-0 ms-3">۷ روز ﻫﻔﺘﻪ، ۲۴ ﺳﺎﻋﺘﻪ</h6>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Features END -->
<!-- =======================
	Best selling product START -->
@await Component.InvokeAsync("NewestProduct")
<!-- =======================
Best selling product END -->
<!-- =======================

<!-- =======================

<!-- =======================

<!-- =======================
Adv START -->
@await Component.InvokeAsync("BestSellerProduct")
<!-- =======================
Adv END -->

