@using MobileStore.Application.ViewModels.Accounts

@model ResetUserPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "_AuthLayout";
}

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
				<div class="bg-primary bg-opacity-10 rounded p-4 p-sm-5">
					<h2>بازیابی کلمه عبور </h2>
					<!-- Form START -->
					<form method="post" class="mt-4">

						<input type="hidden" asp-for="Email" />
						<input type="hidden" asp-for="Token" />
						<input type="hidden" asp-for="Captcha" />
						<!-- Password -->
						<div class="mb-3">
							<label class="form-label" for="exampleInputPassword1">کلمه عبور</label>
							<input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="*********">
						</div>
						<!-- Password -->
						<div class="mb-3">
							<label class="form-label" for="exampleInputPassword2">تکرار کلمه عبور</label>
							<input type="password" asp-for="ConfirmPassword" class="form-control" id="exampleInputPassword2" placeholder="*********">
						</div>

						<div class="text-danger" asp-validation-summary="All"></div>
						<!-- Button -->
						<div class="row align-items-center">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-success">فراموشی</button>
							</div>
						</div>
					</form>
					<!-- Form END -->
					<hr>
				</div>
			</div>
		</div>
	</div>
</section>
